:host {
  display: block;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.register-button{
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.buttonContainer {
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}