

<div nz-row class="generalContainer">
  <div nz-col nzSpan="24" class="buttonContainer">
    <button 
      nz-button
      nzType="primary"
      (click)="handleShowForm()"
      >
      <span>Registrar coordinador</span>
    </button>
  </div>

  <div *ngIf="!showForm && programs">
    <app-coordinators-table
      *ngIf="coordinatoors.length>0"
      [coordinators]="coordinatoors"
      [programs]="programs">
    </app-coordinators-table>
  </div>
  
  <app-coordinators-form
    *ngIf="showForm && programs"
    (reloadTable)="getCoordinators()"
    (hideForm)="showForm=$event"
    [programs]="programs">   
  </app-coordinators-form>
</div>