<div class="container-table">
  <nz-table #basicTable [nzData]="cohorts" [nzScroll]="{y:'250px'}">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th># estudiantes</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.code}}</td>
        <td>{{data.numberStudents}}</td>
        <td class="actions">
          <a><span nz-icon nzType="edit" nzTheme="outline"></span></a>
          <a><span nz-icon nzType="eye-invisible" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>