<div class="container-table">
  <nz-table #basicTable [nzData]="teachers" [nzScroll]="{y:'250px'}">
    <thead>
      <tr>
        <th>Nombre</th>
        <th># Documento</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.idCard}}</td>
        <td>{{data.email}}</td>
        <td class="actions">
          <a><span nz-icon nzType="edit" nzTheme="outline" (click)="editTeacherModalVisible=true;teacherData=data;"></span></a>
          <a><span nz-icon nzType="eye-invisible" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
@if(teacherData){
  <app-edit-teacher-modal
    [teacherData]="teacherData"
    [isVisible]="editTeacherModalVisible"
    (hideModalEvent)="editTeacherModalVisible=$event;teacherData=null;"
    (reloadtable)="getTeachers.emit(true)"
  >
  </app-edit-teacher-modal>
}
