:host {
  display: block;
  height: 100%;
  width: 100%;
}

.generalContainer{
  background-image: url('../../../assets/img/fondo2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}