<div class="generalContainer">
  <div nz-row *ngIf="programs">

    @if(!programs[1]) {
      <app-program-card
        [program]="programs[0]"
        nz-col [nzSpan]="24"
        (getPrograms)="getPrograms.emit(true)"
        [cohorts]="cohorts">
      </app-program-card>
    }
  
    @if(programs && programs[1]) {
      <app-program-card
        [program]="programs[0]"
        nz-col [nzSpan]="12"
        (getPrograms)="getPrograms.emit(true)"
        [cohorts]="cohorts">
      </app-program-card>
      <app-program-card
        [program]="programs[1]"
        nz-col [nzSpan]="12"
        (getPrograms)="getPrograms.emit(true)"
        [cohorts]="cohorts">
    </app-program-card>
    }
  </div>
</div>