<div class="generalContainer">
  <div form [formGroup]="form" nz-form nz-row class="formContainer">
    <div nz-col nzSpan="24">
      <img class="logo" src="../../../assets/img/logo.png" alt="logo">
    </div>
    <div nz-col nzSpan="24">
      <input 
        nz-input 
        autocomplete="off" 
        id="name"
        nz-input 
        formControlName="name"
        placeholder="Nombre"/>
    </div>
    <div nz-col nzSpan="24">
      <input 
        nz-input 
        autocomplete="off" 
        id="surname"
        nz-input 
        formControlName="surname"
        placeholder="Apellido"/>
    </div>
    <div nz-col nzSpan="24">
      <input 
        nz-input 
        autocomplete="off" 
        id="email"
        nz-input 
        formControlName="email"
        placeholder="Correo electrónico"/>
    </div>
    <div nz-col nzSpan="24" style="width: 100%;">
      <input 
        nz-input 
        autocomplete="off" 
        id="password"
        placeholder="Contraseña"
        formControlName="pass"
        [type]="'password'"/>
    </div>
    <div nz-col nzSpan="24" style="width: 100%;">
      <input 
        nz-input 
        id="passwordConfirm"
        autocomplete="off" 
        placeholder="Confirmar contraseña"
        formControlName="passConfirm"
        [type]="'password'">
    </div>
    <div nz-col nzSpan="24" class="buttonContainer">
      <button 
        nz-button
        nzType="primary"
        (click)="register()"
        [disabled]="form.invalid">
        <span>Registrar</span>
      </button>
    </div>
  </div>
</div>