:host {
  display: block;
}

.register-button{
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.form{
  display: flex;
}