<div nz-row class="generalContainer">
  <div nz-col nzSpan="24" class="buttonContainer">
    <button 
      nz-button
      class="register-button"
      nzType="primary"
      (click)="handleShowForm()"
      >
      <span>Registrar Docente</span>
    </button>
  </div>

  <div *ngIf="!showForm">
    <app-table
      *ngIf="teachers.length>0"
      [teachers]="teachers"
      (getTeachers)="getTeachers()"
      >
    </app-table>
  </div>
  
  <app-form 
    *ngIf="showForm"
    (reloadTable)="getTeachers()"
    (hideForm)="showForm=$event">
  </app-form>
</div>