<div class="container-table">
  <nz-table #basicTable [nzData]="students" [nzScroll]="{y:'250px'}">
    <thead>
      <tr>
        <th>Nombre</th>
        <th># Documento</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.id}}</td>
        <td>{{data.email}}</td>
        <td class="actions">
          <a><span nz-icon nzType="edit" (click)="editStudentModalVisible=true;studentData=data;" nzTheme="outline"></span></a>
          <a><span nz-icon nzType="eye-invisible" nzTheme="outline"></span></a>
          <a><span nz-icon nzType="delete" style="color: red;" (click)="deleteStudent(data)" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

@if(studentData){
  <app-edit-student-modal
    [studentData]="studentData"
    [isVisible]="editStudentModalVisible"
    (hideModalEvent)="editStudentModalVisible=$event;studentData=null;">
  </app-edit-student-modal>
}
