<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <img src="../assets/img/logo.png" alt="logo">
      </a>
    </div>
    <ul style="margin-top: 5vh;" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['cohorts']">Cohortes</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/teachers">Docentes</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/programs">Programas</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/students">Estudiantes</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
        <button 
          nz-button 
          nz-dropdown 
          [nzDropdownMenu]="menu2" 
          nzPlacement="bottomRight"
          class="userButton">
          <span nz-icon nzType="user"></span>
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>menu2 1st menu item</li>
            <li nz-menu-item>menu2 2nd menu item</li>
            <li nz-menu-item>menu2 3rd menu item</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer 
      class="footer">
      AndesDev Solutions{{' @ ' + year}}
    </nz-footer>
  </nz-layout>
</nz-layout>
