<nz-modal [(nzVisible)]="isVisible" nzClosable="false" [nzWidth]="1000">
  <div *nzModalTitle class="title">
    Editar coordinador
  </div>
  <div *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24" class="formContainer">
        <div nz-row nz-form [formGroup]="form" [nzGutter]="[20,20]">
          <div nz-col nzSpan="24">
            <input 
              nz-input
              formControlName="name"
              placeholder="Nombre del coordinador">
          </div>
          <div nz-col nzSpan="24">
            <input 
              nz-input
              formControlName="surname"
              placeholder="Apellido del coordinador">
          </div>
          <div nz-col nzSpan="24">
            <input 
              nz-input
              formControlName="email"
              placeholder="Correo electrónico"
              autocomplete="off">
          </div>
          <div nz-col nzSpan="24">
            <nz-select
              nzPlaceHolder="Seleccione un programa"
              formControlName="programId"
              style="width: 100%;">
              <nz-option
                *ngFor="let program of listOfOptions"
                [nzLabel]="program.name"
                [nzValue]="program._id">
              </nz-option>
            </nz-select>
          </div>
          <!-- <div nz-col nzSpan="24">
            <input 
              nz-input
              formControlName="password"
              placeholder="Contraseña"
              autocomplete="off"
              [type]="'password'">
          </div>
          <div nz-col nzSpan="24">
            <input 
              nz-input
              formControlName="passwordConfirm"
              placeholder="Confirmar contraseña"
              autocomplete="off"
              [type]="'password'">
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <div nz-row>
      <div nz-col nzSpan="12" class="centerContent">
        <button nz-button nzType="default" (click)="hideModalEvent.emit(false)">
          <span>Cancelar</span>
        </button>
      </div>
      <div nz-col nzSpan="12" class="centerContent">
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="updateCoordinator()">
          <span>Guardar cambios</span>
        </button>
      </div>
    </div>
  </div>
</nz-modal>