:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.programList{
  display: block;
  overflow-y: scroll;
  max-height: 65vh;
}