<div nz-row class="generalContainer">
  <div nz-col nzSpan="24" class="buttonContainer">
    <button 
      nz-button
      nzType="primary"
      (click)="showForm=true">
      <span>Crear programa</span>
    </button>
  </div>
  <app-programs-list  
    *ngIf="!showForm"
    class="programList"
    nz-col nzSpan="24"
    [programs]="programs">
  </app-programs-list>
  <app-program-create-form 
    *ngIf="showForm"
    nz-col nzSpan="24"
    (reloadTable)="getPrograms()"
    (hideForm)="showForm=$event">
  </app-program-create-form>
</div>