<div nz-row class="generalContainer">
  <div nz-col nzSpan="24" class="buttonContainer">
    <button 
      nz-button
      class="register-button"
      nzType="primary"
      (click)="handleShowForm()">
      <span>Registrar Estudiante</span>
    </button>
  </div>
  <div *ngIf="!showForm">
    <app-table
      *ngIf="students"
      [students]="students"
      (reloadTable)="getStudents()">
    </app-table>
  </div>
  
  <app-form *ngIf="showForm" (reloadTable)="getStudents()" (hideForm)="showForm=$event"></app-form>
</div>