<div class="container">
  <div class="header">
    Registrar nuevo estudiante
  </div>
  <form nz-form  class="form"  [formGroup]="formData">
    <div nz-row>
      <div nz-col>
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="name">Nombre estudiante</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="name"  name="name" type="text" id="name">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="id">Número de documento</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="id" name="id" type="text" id="id">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="studentCode">Código</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="studentCode" name="studentCode" type="text" id="studentCode">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="address">Dirección de residencia</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="address" name="address" type="text" id="address">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="phone">Telefono</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="phone" name="phone" type="text" id="phone">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="email">Correo electronico</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="email" name="email" type="text" id="email">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="gender">Genero</nz-form-label>
          <nz-form-control [nzSpan]="30">
            <input nz-input formControlName="gender" name="gender" type="text" id="gender">
          </nz-form-control>
        </nz-form-item >
      </div>
   <div nz-col>
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="birthDay">Fecha de nacimiento</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input formControlName="birthDay" name="birthDay" type="text" id="birthDay">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="semester">Semestre</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input formControlName="semester" name="semester" type="text" id="semester">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="civilStatus">Estado civil</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input formControlName="civilStatus" name="civilStatus" type="text" id="civilStatus">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="ingressDate">Fecha de ingreso</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input formControlName="ingressDate" name="ingressDate" type="text" id="ingressDate">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="egressDate">Fecha de egreso</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input  formControlName="egressDate" name="egressDate" type="text" id="egressDate">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="cohort">Cohorte</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input name="cohort" type="text" id="cohort">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzFor="photo">Foto</nz-form-label>
      <nz-form-control [nzSpan]="30">
        <input nz-input name="photo" type="text" id="photo">
      </nz-form-control>
    </nz-form-item >
   </div>
    </div>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" (click)="createStudent()" [disabled]="formData.invalid" >Crear Estudiante</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  
</div>
