<div class="cardContainer" nz-row>
  <div nz-col nzSpan="12" class="title textEllipsis">
    {{program.name}}
  </div>
  <div nz-col nzSpan="12">
    <!-- <img style="width: 100px;height: 100px;" [src]="program.logo" alt="sin imagen"> -->
    <img 
      class="logo" 
      src="{{ program.logo }}" 
      onerror="this.onerror=null; this.src='https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg';" 
      alt="sin imagen">
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Descripción :
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    {{program.description}}
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Correo :
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    {{program.email}}
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Líneas de investigación : 
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    {{program.researchLines}}
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Fecha de registro calificado: 
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    {{program.dateRegistration}}
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Número de resolución de registro calificado : 
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    {{program.numberResolutionOfQualifiedRegistration}}
  </div>
  <div nz-col nzSpan="24" class="label textEllipsis">
    Archivo de resolución de registro calificado : 
  </div>
  <div nz-col nzSpan="24" class="textEllipsis">
    <a [href]="program.resolutionFile">{{program.resolutionFile}}</a>
  </div>
</div>