/* You can add global styles to this file, and also import other style files */

.centerContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-body {
  padding: 0!important;
}