<div class="container-table">
  <nz-table #basicTable [nzData]="coordinators" [nzScroll]="{y:'250px'}">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Programas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name + data.surname}}</td>
        <td>{{data.email}}</td>
        <td>{{getProgramsNames(data.programs)}}</td>
        <td class="actions">
          <a><span nz-icon nzType="edit" (click)="editCoordinatorModalVisible=true;coordinatorData=data;" nzTheme="outline"></span></a>
          <a><span nz-icon nzType="eye-invisible" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
@if(coordinatorData){
  <app-edit-coordinator-modal
    [coordinatorData]="coordinatorData"
    [isVisible]="editCoordinatorModalVisible"
    (hideModalEvent)="editCoordinatorModalVisible=$event;coordinatorData=null;"
    [listOfOptions]="programs">
  </app-edit-coordinator-modal>
}