<div class="container">
  <div class="header">
    Registrar nueva corte
  </div>
  <form nz-form [formGroup]="formData">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="name">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input  formControlName="name" name="name" type="name" id="name">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="code">Código</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input  formControlName="code" name="code" type="code" id="code">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="numberStudents"># Estudiantes</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="numberStudents" name="numberStudents" type="text" id="numberStudents">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="numberStudents">Fecha de Inicio</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-date-picker 
        style="width:100%;"
        formControlName="startDate" 
        nzPlaceHolder="Fecha de Inicio">
      </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="endDate">Fecha de Fin</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-date-picker 
          style="width:100%;"
          formControlName="endDate" 
          nzPlaceHolder="Fecha de Inicio"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary"
        (click)="createCohort()">Crear Cohorte</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  
</div>
